body{
    font-family: cursive;
}

.top{
    margin-top: 150px;
}
.texto{
    font-family: monospace;
    margin: 0 auto;
    background-color: rgb(205, 201, 201);
    padding: 30px;
    text-align: center;
    border: solid;
    border-radius: 15px;
    transition: 1s;
    color: gray;
    width: 600px;
}
.texto:hover{
    background-color: rgb(145, 145, 145);
    color: black;
    font-size: 150px;
    transition: 1s;
    cursor: pointer;
}
.card{
    margin: 0 auto;
    margin-bottom: 25px;
    border-color: green;
    padding: 15px;
}
img{
    width: 150px;
    height: 150px;
}